= javascript_include_tag "week/add_assignment" 
= javascript_include_tag "week/edit_assignment"
= javascript_include_tag "week/delete_assignment"

.choose_view
  .nav_view
    = link_to "Week", assignments_path(:query => 'week', :which => params[:which]), 
    {:class => "current"}
    = link_to "Month", assignments_path(:query => 'month', :which => params[:which])
  .rotate_through
    = link_to "Prev", assignments_path(:query => 'week', :which => params[:which].to_date.prev_week),
      {:class => "which_btn"}
    - @other_class = params[:which].to_date.beginning_of_week == Date.today.beginning_of_week ? "current" : nil
    = link_to "This week", assignments_path(:query => 'week', :which => Date.today.beginning_of_week), 
      {:class => "which_btn #{@other_class}"}    
    = link_to "Next", assignments_path(:query => 'week', :which => params[:which].to_date.next_week), 
      {:class => "which_btn"}

- @key_to_day = {1 => "Monday", 2 => "Tuesday", 3 => "Wednesday", 4 => "Thursday", 5 => "Friday", 6 => "Saturday", 0 => "Sunday", }
.week
  -@as_grouped_sides.each do |side| 
    .side 
      - side.each do |dayn,as|
        -#- binding.pry
        - todayHuh = (Date.today.to_date === getDate(dayn, params[:which].to_date.beginning_of_week))
        - today_complete = true;
        - as.each do |a|
          - if !a.completed
            - today_complete = false;

        .assignment_box{:id => (todayHuh ? (today_complete ? "today_border" : "today_nc_border") : nil), 
        :'data-date' => getDate(dayn, params[:which].to_date.beginning_of_week)} 
          %a.add_btn{:id => "day_#{dayn}", :'data-day' => "day#{dayn}", :class => 'icon-plus'}
          %p.day_heading 
            = @key_to_day[dayn]
            = getDate(dayn, params[:which].to_date.beginning_of_week).to_formatted_s(:long)
            - if todayHuh
              %span Today
          - if !as.empty?
            - as.each do |a|
              .as_box{:class => (a.completed ? "completed" : "not_completed"), :'data-due-time' => a.due_date.strftime("%H:%M"),
              :'data-assignment-id' => a.id, :'data-subject' => a.subject.name, :'data-description' => a.description, :'data-subject-id' => a.subject.id}
                .due_time
                  -#= a.due_date.to_formatted_s(:long)
                  due at 
                  = a.due_date.strftime("%I:%M %P");
                .subject
                  = a.subject.name
                .description
                  = a.description
                .delete_btn{:'data-assignment-id' => a.id}
                .edit_btn{:"data-assignment-id" => a.id}
                  /* .edit_dialog{:title => "Update Assignment", :"data-assignment-id" => a.id} */
                  /*   = simple_form_for [a], remote: true, html: {data: {type: 'json'}} do |f| */
                  /*     = f.association :subject, collection: current_user.subjects */    
                  /*     = f.input :description */ 
                  /*     = f.input :due_date, order: [:month, :day, :year], :ampm => true */
                  /*     = f.input :completed, :label => "Completed?", :as => "radio_buttons" */ 
                  /*     = f.submit :class => "edit_dialog_submit" */

.delete_dialog
  Are you sure you want to delete this assignment? 
  %button

#add_dialog_ajax
  %form
    %label * Subject
    %select.select_subject
      %option
      - @subjects.each do |s|
        %option{value:"#{s.id}"}
          = s.name
    %label * Description
    %input{type:'text', maxlength: 255, size: 50, name:'description'}
    %label * Due date
    %input{type: 'text', class: 'datepicker'}
    %input{type: 'text', class: 'timepicker'}
    %label Completed?
    %input{type: 'radio', name:'completed', value:'yes'} Yes
    %input{type: 'radio', name:'completed', value:'no', checked:'checked'} No
    %input{type:'submit', value:'submit', class:'add_dialog_submit'}

#edit_dialog
  %form
    %label * Subject
    %select.select_subject
      %option
      - @subjects.each do |s|
        %option{value:"#{s.id}"}
          = s.name
    %label * Description
    %input{type:'text', maxlength: 255, size:50, name:'description'}
    %label * Due date
    %input{type: 'text', class: 'datepicker'}
    %input{type: 'text', class: 'timepicker'}
    %label Completed?
    %input{type: 'radio', name:'completed', value:'yes'} Yes
    %input{type: 'radio', name:'completed', value:'no', checked:'checked'} No
    %input{type:'submit', value:'submit', class:'add_dialog_submit'}

