.choose_view
  .nav_view
    = link_to "Week", user_assignments_path(current_user, :query => 'week', :which => params[:which]), 
    {:class => "current"}
    = link_to "Month", user_assignments_path(current_user, :query => 'month', :which => params[:which])   

  .rotate_through
    = link_to "prev", user_assignments_path(current_user, :query => 'week', :which => params[:which].to_date.prev_week),
      {:class => "which_btn"}
    - @other_class = params[:which].to_date.beginning_of_week == Date.today.beginning_of_week ? "current" : nil
    = link_to "this week", user_assignments_path(current_user, :query => 'week', :which => Date.today.beginning_of_week), 
      {:class => "which_btn #{@other_class}"}    
    = link_to "next", user_assignments_path(current_user, :query => 'week', :which => params[:which].to_date.next_week), 
      {:class => "which_btn"}

- @key_to_day = {1 => "Monday", 2 => "Tuesday", 3 => "Wednesday", 4 => "Thursday", 5 => "Friday", 6 => "Saturday", 0 => "Sunday", }
.week
  -@as_grouped_sides.each do |side| 
    .side 
      - side.each do |dayn,as|
        -#- binding.pry
        .assignment_box
          %a.add_btn{:id => "day_#{dayn}"}
            .add_dialog
              = simple_form_for [current_user, @newa] do |f|
                = f.association :subject, collection: current_user.subjects    
                = f.input :description
                = f.input :due_date, :default => getDate(dayn, params[:which].to_date.beginning_of_week) 
                = f.input :completed
                = f.submit "Add" 
          %p.day_heading 
            = @key_to_day[dayn]
            = getDate(dayn, params[:which].to_date.beginning_of_week).to_formatted_s(:long)
          - if !as.empty?
            - as.each do |a|
              .as_box{:class => (a.completed ? "completed" : "not_completed")}
                .due_time
                  -#= a.due_date.to_formatted_s(:long)
                  = a.due_date.strftime("%H:%M");
                .subject
                  = a.subject.name
                .description
                  = a.description
                .delete_btn
                  .delete_dialog{:title => "Delete Assignment"}
                    Are you sure you want to delete this assignment?
                    = link_to "Yes, delete this assignment", user_assignment_path(current_user, a), :method => :delete, :remote => true, tabindex: -1
                .edit_btn
                  .edit_dialog{:title => "Update Assignment"}
                    = simple_form_for [current_user, a], remote: true, html: {data: {type: 'json'}} do |f|
                      = f.association :subject, collection: current_user.subjects    
                      = f.input :description 
                      = f.input :due_date
                      = f.input :completed 
                      = f.submit 

