
.nav
  .nav_view
    = link_to "Week", user_assignments_path(current_user, :query => 'week', :which => params[:which])
    = link_to "Month", user_assignments_path(current_user, :query => 'month', :which => params[:which])
  %h1 My Assignments
  - if params[:query] == 'week'
    = link_to "prev week", user_assignments_path(current_user, :query => 'week', :which => params[:which].to_date.prev_week)
    = link_to "this week", user_assignments_path(current_user, :query => 'week', :which => Date.today.beginning_of_week)
    = link_to "next week", user_assignments_path(current_user, :query => 'week', :which => params[:which].to_date.next_week)
  - elsif params[:query] == 'month'
    = link_to "prev month", user_assignments_path(current_user, :query => 'month', :which => params[:which].to_date.prev_month)
    = link_to "this month", user_assignments_path(current_user, :query => 'month', :which => Date.today.beginning_of_month)
    = link_to "this week", user_assignments_path(current_user, :query => 'week', :which => Date.today.beginning_of_week)

.new_assignment_button
  = link_to "add assignment", new_user_assignment_path(current_user)

-# - if params[:query] == 'week'
  = render 'day_in_week_view'
  .assignment_box
    %h4 tuesday 
    - if !@assignments_tues.empty?
      - @assignments_tues.each do |a|
        .due_date_and_time
          = a.due_date.to_formatted_s(:long)
        .description
          = a.description
          .subject
            = a.subject
          .delete_assignment_button
            -#for delete, just use the one for show
            = link_to "delete", user_assignment_path(current_user, a), :method => :delete
          .completed_as_button
            = link_to "edit", edit_user_assignment_path(current_user,a)

  .assignment_box
    %h4 wednesday 
    - @assignments_wed.each do |a|
      .due_date_and_time
        = a.due_date.to_formatted_s(:long)
      .description
        = a.description
      .subject
        = a.subject
        .delete_assignment_button
          -#for delete, just use the one for show
          = link_to "delete", user_assignment_path(current_user, a), :method => :delete
  .assignment_box
    %h4 thursday
    - @assignments_thurs.each do |a|
      .due_date_and_time
        = a.due_date.to_formatted_s(:long)
      .description
        = a.description
      .subject
        = a.subject
        .delete_assignment_button
          -#for delete, just use the one for show
          = link_to "delete", user_assignment_path(current_user, a), :method => :delete
  .assignment_box
    %h4 friday
    - @assignments_fri.each do |a|
      .due_date_and_time
        = a.due_date.to_formatted_s(:long)
      .description
        = a.description
      .subject
        = a.subject
        .delete_assignment_button
          -#for delete, just use the one for show
          = link_to "delete", user_assignment_path(current_user, a), :method => :delete
  .assignment_box
    %h4 saturday
    - @assignments_sat.each do |a|
      .due_date_and_time
        = a.due_date.to_formatted_s(:long)
      .description
        = a.description
      .subject
        = a.subject
        .delete_assignment_button
          -#for delete, just use the one for show
          = link_to "delete", user_assignment_path(current_user, a), :method => :delete
  .assignment_box
    %h4 sunday
    - @assignments_sun.each do |a|
      .due_date_and_time
        = k.strftime("%t")
        -#= a.due_date.to_formatted_s(:long)
      .description
        = a.description
      .subject
        = a.subject
        .delete_assignment_button
          -#for delete just use the one for show
          = link_to "delete", user_assignment_path(current_user, a), :method => :delete

-if params[:query] == 'week'
  - @key_to_day = {1 => "Monday", 2 => "Tuesday", 3 => "Wednesday", 4 => "Thursday", 5 => "Friday", 6 => "Saturday", 7 => "Sunday", }
  // - @key_to_num = {:m => 1, 
  -# binding.pry
  - @as_grouped.each do |dayn,as|
    .assignment_box
      %p.day_heading 
        = @key_to_day[dayn]
        = getDate(dayn, params[:which].to_date).to_formatted_s(:long) 
      -#- if !as.empty?
        -#= as.first.due_date.to_date.to_formatted_s(:long)
      - if !as.empty?
        - as.each do |a|
          %div{:class => (a.completed ? "completed" : "not_completed")}
            .due_time 
              = a.due_date.strftime("%H:%M");
            .subject
              = a.subject
            .description
              = a.description
            .delete_as_button
              -#for delete, just use the one for show
              = link_to "delete", user_assignment_path(current_user, a), :method => :delete

            .completed_as_button
              = link_to "edit", edit_user_assignment_path(current_user,a)

        
- if params[:query] == 'month'
  - @as_grouped.each do |k,v|
    .assignment_box
      %h4 
        =k.strftime("%A")
      -v.each do |a|
        .due_date_and_time
          = a.due_date.to_formatted_s(:long)
        .description
          = a.description
        .subject
          = a.subject
          .delete_assignment_button
            = link_to "delete", user_assignment_path(current_user, a), :method => :delete


  

    
  


      -#link_to has an option called confirm, value you give it is ? you want to ask


