%h1 My Assignments

.nav
  = link_to "prev week", user_assignments_path(current_user, :query => 'week', :which => params[:which].to_date.prev_week)
  = link_to "this week", user_assignments_path(current_user, :query => 'week', :which => Date.today.beginning_of_week)
  = link_to "prev month", user_assignments_path(current_user, :query => 'month', :which => params[:which].to_date.prev_month) 
  = link_to "this month", user_assignments_path(current_user, :query => 'month', :which => Date.today.beginning_of_month)
  = link_to "sign out", destroy_user_session_path, :method => :delete

.new_assignment_button
  = link_to "new assignment", new_user_assignment_path(current_user)

- if params[:query] == 'week'
  .monday.assignment_box
    %h4 Monday 
    - if !@assignments_mon.empty?
      - @assignments_mon.each do |a|
        %div{:class => (a.completed ? "completed" : "not_completed")}
          .due_date_and_time 
            = a.due_date.to_formatted_s(:long)
          .subject
            = a.subject
          .description
            = a.description
          .delete_assignment_button
            -#for delete, just use the one for show
            = link_to "delete", user_assignment_path(current_user, a), :method => :delete
          .completed_as_button
            = link_to "edit", edit_user_assignment_path(current_user,a)
  .tuesday.assignment_box
    %h4 Tuesday 
    - if !@assignments_tues.empty?
      - @assignments_tues.each do |a|
        .due_date_and_time
          = a.due_date.to_formatted_s(:long)
        .description
          = a.description
          .subject
            = a.subject
          .delete_assignment_button
            -#for delete, just use the one for show
            = link_to "delete", user_assignment_path(current_user, a), :method => :delete
  .wednesday.assignment_box
    %h4 Wednesday 
    - @assignments_wed.each do |a|
      .due_date_and_time
        = a.due_date.to_formatted_s(:long)
      .description
        = a.description
      .subject
        = a.subject
        .delete_assignment_button
          -#for delete, just use the one for show
          = link_to "delete", user_assignment_path(current_user, a), :method => :delete
  .thursday.assignment_box
    %h4 Thursday
    - @assignments_thurs.each do |a|
      .due_date_and_time
        = a.due_date.to_formatted_s(:long)
      .description
        = a.description
      .subject
        = a.subject
        .delete_assignment_button
          -#for delete, just use the one for show
          = link_to "delete", user_assignment_path(current_user, a), :method => :delete
  .friday.assignment_box
    %h4 Friday
    - @assignments_fri.each do |a|
      .due_date_and_time
        = a.due_date.to_formatted_s(:long)
      .description
        = a.description
      .subject
        = a.subject
        .delete_assignment_button
          -#for delete, just use the one for show
          = link_to "delete", user_assignment_path(current_user, a), :method => :delete
  .saturday.assignment_box
    %h4 Saturday
    - @assignments_sat.each do |a|
      .due_date_and_time
        = a.due_date.to_formatted_s(:long)
      .description
        = a.description
      .subject
        = a.subject
        .delete_assignment_button
          -#for delete, just use the one for show
          = link_to "delete", user_assignment_path(current_user, a), :method => :delete
  .sunday.assignment_box
    %h4 Sunday
    - @assignments_sun.each do |a|
      .due_date_and_time
        = k.strftime("%t")
        -#= a.due_date.to_formatted_s(:long)
      .description
        = a.description
      .subject
        = a.subject
        .delete_assignment_button
          -#for delete just use the one for show
          = link_to "delete", user_assignment_path(current_user, a), :method => :delete


- if params[:query] == 'month'
  - @as_grouped.each do |k,v|
    .assignment_box
      %h4 
        =k.strftime("%A")
      -v.each do |a|
        .due_date_and_time
          = a.due_date.to_formatted_s(:long)
        .description
          = a.description
        .subject
          = a.subject
          .delete_assignment_button
            = link_to "delete", user_assignment_path(current_user, a), :method => :delete


  

    
  


      -#link_to has an option called confirm, value you give it is ? you want to ask


