
.nav
  %h1 My Assignments
  .nav_view
    %form
      #radio
        %input#radio1{:name => "radio", :type => "radio"}/
        %label{:for => "radio1"} Week
        %input#radio2{:checked => "checked", :name => "radio", :type => "radio"}/
        %label{:for => "radio2"} Month

    = link_to "Week", user_assignments_path(current_user, :query => 'week', :which => params[:which]), {:id => 'week_view'} 
    = link_to "Month", user_assignments_path(current_user, :query => 'month', :which => params[:which]), {:id => 'month_view'}     

  - if params[:query] == 'week'
    .rotate_through
      = link_to "prev", user_assignments_path(current_user, :query => 'week', :which => params[:which].to_date.prev_week), 
      {:class => "which_btn"}
      = link_to "this week", user_assignments_path(current_user, :query => 'week', :which => Date.today.beginning_of_week), 
      {:class => "which_btn"}

      = link_to "next", user_assignments_path(current_user, :query => 'week', :which => params[:which].to_date.next_week), 
      {:class => "which_btn"}


.new_assignment_button
  = link_to "add assignment", new_user_assignment_path(current_user)

-if params[:query] == 'week'
  - @key_to_day = {1 => "Monday", 2 => "Tuesday", 3 => "Wednesday", 4 => "Thursday", 5 => "Friday", 6 => "Saturday", 0 => "Sunday", }
  .left_side_days 
    - @as_grouped_left.each do |dayn,as|
      .assignment_box
        %p.day_heading 
          = @key_to_day[dayn]
          = getDate(dayn, params[:which].to_date).to_formatted_s(:long) 
        - if !as.empty?
          - as.each do |a|
            %div{:class => (a.completed ? "completed" : "not_completed")}
              .due_time 
                = a.due_date.strftime("%H:%M");
              .subject
                = a.subject
              .description
                = a.description
              .delete_as_button
                -#for delete, just use the one for show
                = link_to "delete", user_assignment_path(current_user, a), :method => :delete

              .completed_as_button
                = link_to "edit", edit_user_assignment_path(current_user,a)
  .right_side_days 
    - @as_grouped_right.each do |dayn,as|
      .assignment_box
        %p.day_heading 
          = @key_to_day[dayn]
          = getDate(dayn, params[:which].to_date).to_formatted_s(:long) 
        - if !as.empty?
          - as.each do |a|
            %div{:class => (a.completed ? "completed" : "not_completed")}
              .due_time 
                = a.due_date.strftime("%H:%M");
              .subject
                = a.subject
              .description
                = a.description
              .delete_as_button
                -#for delete, just use the one for show
                = link_to "delete", user_assignment_path(current_user, a), :method => :delete

              .completed_as_button
                = link_to "edit", edit_user_assignment_path(current_user,a)


        
- if params[:query] == 'month'
  .cal
    .cal_header
      %h2
        = params[:which].to_date.strftime("%B, %Y")


      - if params[:query] == 'month'
        .rotate_through
          = link_to "prev", user_assignments_path(current_user, :query => 'month', :which => params[:which].to_date.prev_month),
          {:class => "which_btn"}
          = link_to "this month", user_assignments_path(current_user, :query => 'month', :which => Date.today.beginning_of_month), 
          {:class => "which_btn"}    
          = link_to "next", user_assignments_path(current_user, :query => 'month', :which => params[:which].to_date.next_month), 
          {:class => "which_btn"}
    
    - @list_each_week= []
    - @list_each_week << @days_in_cal_month[0..6]
    - @list_each_week << @days_in_cal_month[7..13]
    - @list_each_week << @days_in_cal_month[14..20]
    - @list_each_week << @days_in_cal_month[21..27]
    - @list_each_week << @days_in_cal_month[28..34]
    %table
      %tr
        %th Sunday
        %th Monday
        %th Tuesday
        %th Wednesday
        %th Thursday
        %th Friday
        %th Saturday
      %tr
      - @list_each_week.each do |week|
        /- binding.pry
        %tr 
          -week.each do |date|
            %td
              .cal_day
                = date.strftime("%d")
              .day_cal
                - if @as_grouped_by_dd[date]
                  - @as_grouped_by_dd[date].each do |a|
                    .subj_link{:class => (a.completed ? "completed" : "not_completed")}
                      = a.subject
                      .a_dialog{:title => "Basic dialog"} 
                        due 
                        = a.due_date.to_date.to_formatted_s(:long)
                        = a.subject
                        = a.description


      -#link_to has an option called confirm, value you give it is ? you want to ask
