= javascript_include_tag 'account'

%h2.title 
  Edit Account Information 
#form_wrapper
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    = f.error_notification

    .form-inputs
      = f.input :email, :required => true, :autofocus => true

      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %p 
          Currently waiting confirmation for:
          = resource.unconfirmed_email
      = f.input :first_name
      = f.input :last_name

      = f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false
      = f.input :password_confirmation, :required => false
      = f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true

    .form-actions
      = f.button :submit, "Update"

  %h3.title Cancel my account

  
  %p.cancel_account 
    Unhappy? 
    %a#cancel_account_button 
      Cancel my account
    #cancel_account_dialog
      Are you sure you want to cancel your account?
      %br
      %br
      This is irreversible.
      %br

      = link_to "Yes, cancel my account", registration_path(resource_name), :method => :delete, 
      tabindex: -1
