.header
  - if current_user != nil
    #header_link
      = link_to "Sign out", destroy_user_session_path, :method => :delete
    #profile_button
      = link_to "", edit_user_registration_path, :class => 'icon-user'
    #user
      %span{:class => "name"}  
        Hi, 
        = current_user.first_name
      //%span{:class => "edit_profile"}


  - if current_user == nil
    #header_link
      - if params[:controller] == "devise/sessions"
        = link_to "Sign up", new_registration_path(resource_name)
      - if params[:controller] == "devise/registrations"
        = link_to "Sign in", new_session_path(resource_name)
      - if params[:controller] == "devise/passwords"
        = link_to "Sign in", new_session_path(resource_name)


  .logo
    - if current_user == nil
      = link_to "Agenda", new_session_path(resource_name)
    - if current_user != nil
      = link_to "Agenda", user_assignments_path(current_user, :query => 'week', :which => Date.today.to_date.beginning_of_week)
  
  -if current_user != nil
    .nav
      .tab{:class => (params[:query] ? "current_tab agenda" : "not_current_tab agenda")}
        = link_to "Agenda", user_assignments_path(current_user, :query => 'week', :which => Date.today.to_date)
      - subjects_page = (request.url.index('subjects') != nil)
      .tab{:class => (!params[:query] && subjects_page ? "current_tab" : "not_current_tab")}
        =link_to "Subjects", user_subjects_path(current_user)


