.add_subj_btn
  add
  .add_subj_dialog
    = simple_form_for [current_user, @news] do |f|
      = f.input :name
      = f.submit 

#tabs
  %ul
    - i = 1;
    - @ss.each do |s|
      %li
        %a{:href =>"#tabs-#{i}"} 
          = s.name
          - i += 1
  -i = 1;
  - @ss.each do |s|
    %div{:id => "tabs-#{i}"}
      %h4
        = s.name
        - i += 1
      .delete_subj_btn
        this will be the delete_subj_btn
        .delete_subj_dialog{:title => "Delete Subject"}
          Are you sure you want to delete this subject?
          = link_to "Delete", user_subject_path(current_user, s), :method => :delete
      - if @as_grouped_by_s[s]
        - @as_grouped_by_s[s].each do |a|
          = a.subject.name
          = a.description
          = a.due_date


