#tabs
  %ul
    - i = 1;
    - @ss.each do |s|
      %li
        %a{:href =>"#tabs-#{i}"} 
          = s.name
          - i += 1

  .select_subject
    %select{:tabindex => '1', :name => 'pretty', :class => 'subject_dropkick'}
      /* %option{:value=>"Pick a subject"} */
      /*   Choose a subject */
      -i = 1
      - @ss.each do |s| 
        %option{:value=>"tabs-#{i}"}
        
          - i += 1
          = s.name
  -i = 1;
  - @ss.each do |s|
    %div{:id => "tabs-#{i}"}
      .delete_subj_btn{:'data-subject-id' => s.id}
        .delete_subj_dialog{:title => "Delete Subject", :'data-subject-id' => s.id}
          Are you sure you want to delete the subject
          = s.name
          ? Deleting this subject will also delete all of its assignments.
          - text = "Delete " + s.name
          = link_to text, user_subject_path(current_user, s), method: :delete
      .edit_subj_btn{:'data-subject-id' => s.id} 
        .edit_subj_dialog{:'data-subject-id' => s.id} 
          = simple_form_for [current_user, s] do |f| 
            = f.input :name, input_html: {size: 30}
            = f.submit "Update", class: "button"
      - i += 1
      /* .add_btn */
      /*   .add_dialog */
      /*     = simple_form_for [current_user, @newa] do |f| */
      /*       = f.association :subject, collection: current_user.subjects, :selected => s.id */
      /*       = f.input :description */
      /*       = f.input :due_date */
      /*       = f.input :completed */
      /*       = f.submit "Add", :class => "button" */
      - if !@as_grouped_by_s[s]
        .no_assignments_text
          This subject has no assignments.
      .add_btn_subj_view{:'data-subject-id' => s.id}
        .add_dialog{:'data-subject-id' => s.id}
          = simple_form_for [current_user, @newa] do |f|
            = f.association :subject, collection: current_user.subjects
            = f.input :description
            = f.input :due_date, order: [:month, :day, :year], :ampm => true
            = f.input :completed, :label => "Completed?", :as => "radio_buttons"
            = f.submit "Add", :class => "add_dialog_submit"

      - if @as_grouped_by_s[s]
        - x = @as_grouped_by_s[s].group_by {|a| a.due_date.to_date} 
        - x.each do |date, a|
          .subject_a_date
            = date.strftime("%A %b %d, %Y");
          - a.each do |a|
            .as_box{:class => (a.completed ? "completed" : "not_completed")}
              .due_time
                -#= a.due_date.to_formatted_s(:long)
                due at
                = a.due_date.strftime("%I:%M %P");
              .subject
                = a.subject.name
              .description
                = a.description
              .delete_btn{:'data-assignment-id' => a.id}
                .delete_dialog{:title => "Delete Assignment", :'data-assignment-id' => a.id}
                  Are you sure you want to delete this assignment?
                  = link_to "Yes, delete this assignment", user_assignment_path(current_user, a), :method => :delete
              .edit_btn{:'data-assignment-id' => a.id}
                .edit_dialog{:title => "Update Assignment", 
                  :class => a.completed ? "completed" : "not_completed", :'data-assignment-id' => a.id}
                  = simple_form_for [current_user, a] do |f|
                    = f.association :subject, collection: current_user.subjects    
                    = f.input :description 
                    = f.input :due_date, :ampm =>true;
                    = f.input :completed, :label => "Completed?", :as => "radio_buttons"
                    = f.submit class: "edit_dialog_submit"



.add_subj_btn.button
  Add Subject
  .add_subj_dialog
    = simple_form_for [current_user, @news] do |f|
      = f.input :name, :input_html => {:size => 30}
      = f.submit "Add", :class => "button"
