= javascript_include_tag "dropkick"
= javascript_include_tag "init_subjects"
= javascript_include_tag "subjects"
= javascript_include_tag "subjects/subject_bar"

.subject_bar
  .select_subject
    %select{:tabindex => '1', :name => 'pretty', :class => 'subject_dropkick'}
      %option{:value=>"tabs-pick"}
        Choose a subject
      - @ss.each do |s| 
        %option{:value=>"tabs-#{s.id}", :'data-subject-id' => s.id}
          = s.name
  - @ss.each do |s|
    .delete_subj_btn.button{:'data-subject-id' => s.id}
      Delete
      .delete_subj_dialog{:title => "Delete Subject", :'data-subject-id' => s.id}
        Are you sure you want to delete the subject
        = s.name
        ? 
        %br
        %br
        Deleting this subject will also delete all of its assignments.
        - text = "Delete " + s.name
        = link_to text, user_subject_path(current_user, s), method: :delete, tabindex: -1
    .edit_subj_btn.button{:'data-subject-id' => s.id}
      Rename
      .edit_subj_dialog{:'data-subject-id' => s.id} 
        = simple_form_for [current_user, s] do |f| 
          = f.input :name, input_html: {size: 30}
          = f.submit "Update", class: "button"

#tabs
  %div{:id => "tabs-pick", :class => "panel choose_panel"}
    .panel_text
      Choose a subject in the above drop down menu to view 
      a subject's assignments.
  - @ss.each do |s|
    %div{:id => "tabs-#{s.id}", :class => "panel"}
      .add_btn_subj_view.has_assignments.button{:'data-subject-id' => s.id}
        .icon-plus
        .add_dialog{:'data-subject-id' => s.id}
          = simple_form_for [current_user, @newa] do |f|
            = f.association :subject, collection: current_user.subjects, :selected => s.id
            = f.input :description
            = f.input :due_date, order: [:month, :day, :year], :ampm => true, :default => Date.today + 23.hours + 59.minutes 
            = f.input :completed, :label => "Completed?", :as => "radio_buttons"
            = f.submit "Add", :class => "add_dialog_submit"


      .subject_view
        %a.all_assignments_button.active
          All
        %a.incomplete_assignments_button.unactive
          Only incomplete assignments

      - if !@as_grouped_by_s[s]
        .panel_text
          This subject has no assignments yet.
        .add_btn_subj_view.no_assignment.button{:'data-subject-id' => s.id}
          Add Assignment
          .add_dialog{:'data-subject-id' => s.id}
            = simple_form_for [current_user, @newa] do |f|
              = f.association :subject, collection: current_user.subjects, :selected => s.id
              = f.input :description
              = f.input :due_date, order: [:month, :day, :year], :ampm => true, :default => Date.today + 23.hours + 59.minutes 
              = f.input :completed, :label => "Completed?", :as => "radio_buttons"
              = f.submit "Add", :class => "add_dialog_submit"

      - else 
      - if @as_grouped_by_s[s]
        - x = @as_grouped_by_s[s].group_by {|a| a.due_date.to_date} 
        - x.each do |date, a|
        - todayHuh = (Date.today.to_date == date)
        - all_done = true;
          - a.each do |a|
            - if !a.completed
              - all_done = false;
          .day_subjects{:class => (all_done ? "all_done" : nil)}
            %p.day_heading{:class => (todayHuh ? "today_heading" : nil)}
              = date.strftime("%A %b %d, %Y");
              - if todayHuh 
                %span Today
            - a.each do |a|
              .as_box{:class => (a.completed ? "completed" : "not_completed")}
                .due_time
                  -#= a.due_date.to_formatted_s(:long)
                  due at
                  = a.due_date.strftime("%I:%M %P");
                .subject
                  = a.subject.name
                .description
                  = a.description
                .delete_btn{:'data-assignment-id' => a.id}
                  .delete_dialog{:title => "Delete Assignment", :'data-assignment-id' => a.id}
                    Are you sure you want to delete this assignment?
                    = link_to "Yes, delete this assignment", user_assignment_path(current_user, a), :method => :delete
                .edit_btn{:'data-assignment-id' => a.id}
                  .edit_dialog{:title => "Update Assignment", 
                    :class => a.completed ? "completed" : "not_completed", :'data-assignment-id' => a.id}
                    = simple_form_for [current_user, a] do |f|
                      = f.association :subject, collection: current_user.subjects    
                      = f.input :description 
                      = f.input :due_date, :ampm =>true;
                      = f.input :completed, :label => "Completed?", :as => "radio_buttons"
                      = f.submit class: "edit_dialog_submit"

#add_subj_btn_wrapper
  .add_subj_btn.button
    Add Subject
    .add_subj_dialog
      = simple_form_for [current_user, @news] do |f|
        = f.input :name, :input_html => {:size => 30, :maxlength => 14}
        = f.submit "Add", :class => "button"
