.add_subj_btn.button
  Add Subject
  .add_subj_dialog
    = simple_form_for [current_user, @news] do |f|
      = f.input :name, :input_html => {:size => 30}
      = f.submit "Add"

#tabs
  %ul
    - i = 1;
    - @ss.each do |s|
      %li
        %a{:href =>"#tabs-#{i}"} 
          = s.name
          - i += 1
  -i = 1;
  - @ss.each do |s|
    %div{:id => "tabs-#{i}"}
      - i += 1
      .add_btn
        .add_dialog
          = simple_form_for [current_user, @newa] do |f|
            = f.association :subject, collection: current_user.subjects, :selected => s.id
            = f.input :description
            = f.input :due_date
            = f.input :completed
            = f.submit "Add", :class => "button" 

      - if @as_grouped_by_s[s]
        - @as_grouped_by_s[s].each do |a|
          .as_box{:class => (a.completed ? "completed" : "not_completed")}
            .due_time
              -#= a.due_date.to_formatted_s(:long)
              = a.due_date.strftime("%H:%M");
            .subject
              = a.subject.name
            .description
              = a.description
            .delete_btn
              .delete_dialog{:title => "Delete Assignment"}
                Are you sure you want to delete this assignment?
                = link_to "Delete", user_assignment_path(current_user, a), :method => :delete, :remote => true
            .edit_btn
              .edit_dialog{:title => "Edit Assignment", 
              :class => a.completed ? "completed" : "not_completed"}
                = simple_form_for [current_user, a], remote: true, html: {data: {type: 'json'}} do |f|
                  = f.association :subject, collection: current_user.subjects    
                  = f.input :description 
                  = f.input :due_date
                  = f.input :completed 
                  = f.submit
      .delete_subj_btn
        .delete_subj_dialog{:title => "Delete Assignment"}
          Are you sure you want to delete this subject? Deleting this subject will also delete all of its assignments?
          = link_to "Delete", user_subject_path(current_user, s), :method => :delete






