!!!
%html
  %head
    %title Scratch
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application" 
    = csrf_meta_tags

%body
  .header
    %h5 This is a header

  - if current_user != nil
    .nav
      = link_to "prev week", user_assignments_path(current_user, :query => 'week', :which_week => params[:which_week].to_date.prev_week)
      = link_to "this week", user_assignments_path(current_user, :query => 'week', :which_week => Date.today.beginning_of_week)
      = link_to "this month", user_assignments_path(current_user, :query => 'month')
      = link_to "sign out", destroy_user_session_path, :method => :delete

  = yield

