!!!
%html
  %head
    %title Agenda
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application" 
    = csrf_meta_tags
    
  %body
    - if current_user != nil 
      .header
        - if current_user != nil
          .sign_out_btn
            = link_to "sign out", destroy_user_session_path, :method => :delete
          .name 
            Hi, 
            = current_user.first_name
        -else 
          //add sign in button then drop down stuff
        .logo
          - if current_user != nil
            = link_to "AgendaApp", user_assignments_path(current_user, :query => 'week', :which => Date.today.to_date)
          - else
            AgendaApp

        - if current_user != nil
          .nav
            .tab{:class => (params[:query] ? "current_tab agenda" : "not_current_tab agenda")}
              = link_to "Agenda", user_assignments_path(current_user, :query => 'week', :which => Date.today.to_date)
            .tab{:class => (!params[:query] ? "current_tab" : "not_current_tab")}
              =link_to "Subjects", user_subjects_path(current_user)
    = yield


